<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" scr="style.css">
    <title>Vue To-do</title>
</head>
<body>
    <div id="app" class="container">
        <div class="row mt-5">
            <div id="greeting">
                <h1>Hello, {{name}}!</h1>
                <input v-model="name" placeholder="Enter your name">
            </div>
        </div>
        <div class="row mt-5">
            <h2 class="col-12">Your grocery list</h2>
            <ul>
                <li v-for="(item, index) in groceryList">
                    <span>{{item.text}}</span>
                    <span class="badge badge-danger">Delete</span>
                    <span @click="clickToEdit(index)" class="badge badge-warning">Edit</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <input v-model="newItem" type="text" placeholder="Add new">
            <span @click="addNew(newItem)" class="badge badge-primary">Add</span>
        </div>
        <div class="row">
            <input v-model="textEdited" type="text" placeholder="Edit">
            <span @click="confirmEdit(textEdited, indexToEdit)" class="badge badge-warning">Edit</span>
        </div>
    </div>
    <script src="vue.js"></script>
</body>
</html>